.row
  .col-lg-8.mx-auto.main-column
    %h2
      Change Your Password
    %br
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-group
        = f.input :password, autocomplete: "off", required: true, input_html: {class: "form-control"}
        = f.input :password_confirmation, required: false, input_html: {class: "form-control"}
      .form-group
        = f.input :current_password, required: true, input_html: {class: "form-control"}
      .form-actions
        = f.button :submit, "Save", class: "btn btn-primary btn-lg btn-block"
