<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @task.label %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @task.parent %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
